#text {
    text-emphasis: center;
    position: relative;
}



.center-text {
    text-align: center;
    padding: 50px 700px;
    font-family: Verdana;
}

nav {
    padding: 30px 300px;
    font-family: Verdana;
}

.float-right {
    display: flex;
    float: right;
}

.title {
    font-size: 30px;
    font-weight: bold;
}



.answer-button, .begin, .submit-button {
    background-color: purple;
    color: white;
    outline: none;
    border-radius: 10rem;
    
}

.highscores-nav {
    list-style-type: none;
}